.closeButton {
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    right: 0;
    position: absolute;
}

.nodeInfoHeader {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nodeInfoTitle {
  margin: 0;
  text-align: center;
}

.nodeInfoGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
    align-items: start;
    }

    @media (max-width: 800px) {
    .nodeInfoGrid {
    grid-template-columns: 1fr;
    }
}

